body {
  background-color: #d4d8f0 !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(to right, #232946, #b8c1ec, #eebbc3) !important;
}

.nav-btn {
  background-color: #eebbc3 !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.nav-btn:hover {
  background-color: #d4a6ae !important;
  color: #ffffff !important;
}

/* styles for activity list */

.activity-header {
  color: #2d355b !important;
  transition: color 0.3s ease;
}

.activity-header:hover {
  color: #c7929a !important;
}

.activity-btn {
  background-color: #b8c1ec !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.activity-btn:hover {
  background-color: #878fb1 !important;
  color: #ffffff !important;
}

.submit-btn {
  background-color: #eebbc3 !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.submit-btn:hover {
  background-color: #d4a6ae !important;
  color: #ffffff !important;
}

.loading-container {
  background-image: linear-gradient(to right, #b8c1ec, #eebbc3) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

/* Homepage styles */
.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg,
      #232946 0%,
      /* #b8c1ec 69%, */
      #eebbc3 89%) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* styles for datepicker */
.react-datepicker-wrapper {
  width: 100%;
}