body {
  background-color: #d4d8f0 !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(to right, #232946, #b8c1ec, #eebbc3) !important;
}

.nav-btn {
  background-color: #eebbc3 !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.nav-btn:hover {
  background-color: #d4a6ae !important;
  color: #ffffff !important;
}

/* styles for activity list */
.ui.segment {
  background-color: #fffffe !important;
}

.activity-header {
  color: #2d355b !important;
  transition: color 0.3s ease;
}

.activity-header:hover {
  color: #c7929a !important;
}

.activity-btn {
  background-color: #b8c1ec !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.activity-btn:hover {
  background-color: #878fb1 !important;
  color: #ffffff !important;
}

.submit-btn {
  background-color: #eebbc3 !important;
  color: #232946 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.submit-btn:hover {
  background-color: #d4a6ae !important;
  color: #ffffff !important;
}

.loading-container {
  background-image: linear-gradient(to right, #b8c1ec, #eebbc3) !important;
}